@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box !important;
}

:root {
  --blue: #3f50e9;
  --primary: #1c1d2a;
}

.animate,
a,
a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.notes-transcription-container {
  height: calc(100% - 34px);
}

.custom-bg-shadow {
  background: linear-gradient(148.04deg, #191a26 13.73%, #1e1f2d 89.65%);
  box-shadow: -10px -10px 20px rgba(31, 32, 49, 0.5), 20px 20px 20px #181924,
    inset 0px -4px 4px #191a26;
}

.visio-card-person-speaking {
  box-shadow: var(--blue) 0px 2px 4px 0px, var(--blue) 0px 2px 8px 0px;
}

input {
  font-family: "Inter", sans-serif !important;
  font-size: small !important;
}
